img {
    border-radius: 10px;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 6%;
    border-radius: 10px;
    border: #3B937B;
    color: #F9F8F6 ;
    background-color:#3B937B;
    box-shadow: 5px 10px #888888;
}
a:hover {
    color: #81C181;
    text-decoration: none;
}
a:active{
    color:#86DFEF;
}
.nav-item {
    font-family: 'Gotu';
    font-size: 19px;
    color: #3B937B;
}
a.nav-link {
    color: #3B937B;
}
.nav {
    color: #3B937B;
}
h6 {
    color:#3B937B;
}
h2 {
    color: #81C181;
}
:root {
    --bs-link-hover-color: #81C181;
    --bs-emphasis-color-rgb: rgb(134, 223, 239);
}
#top {
    background-color: rgb(134, 223, 239, .5);
    
}
#phones {
    background-color: #888888;
}
